@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

div.btn-carrinho {
    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
    font-size: 3rem;
    transition: 0.3s;
}

div.btn-carrinho:active{
    transform: scale(0.9);
}

div.carrinho {
    position: fixed;
    top: 0;
    right: -1600px;
    width: 1500px;
    height: 100%;
    background-color: white;
    box-shadow: -5px 0 10px rgba(0,0,0,0.3);
    transition: 1s;
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.overlay.ativo{
    opacity: 1;
    pointer-events: all;
}

.carrinho.ativo{
    right: 0;
}

.fechar {
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}

.produtos{
    min-height: 100vh;
    background-color: var(--text-secondary);
}

.container{
    padding: 30px
}

.container h2{
    text-align: left;
    color: black;
    font-size: 4rem;
}

.bolos, .bebidas, .combos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    min-height: 350px;
    margin: 30px 30px 10px 10px;
    padding: 15px;
    border-radius: 30px;
    background-color: #fef6e4;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.301));
}

.card img{
    width: 230px;
    height: 230px;
    transition: 0.3s;
}

.card:hover img{
    transform: scale(0.95);
}

.card h3, .preco, .btn{
    font-size: 1rem;
    text-align: center;
    font-family: var(--texto-padrão);
    line-height: 1.3rem;
}

.card h3{
    font-size: 1.15rem;
    color: var(--bg-secondary);
}

.choco, .inho, .orango, .tigio{
    font-size: 1.3rem;
    font-family: var(--titulos);
    color: var(--flavor-chocolate);
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596);
}

.inho{
    color: #ebc43b;
}

.orango{
    color: var(--flavor-strawberry);
}

.tigio{
    color: #92d600;
}

.destaque-preco{
    color: #e63946;
    font-weight: bolder;
    font-size: 1.15rem;
}

.card .bebidas{
    width: 125px;
    height: 188px;
}

.card button{
    padding: 10px;
    margin-top: 8px;
    border-radius: 30px;
    font-size: 1rem;
    font-family: var(--titulos);
    background-color: #ff4d6d; /* rosa forte */
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.507);
    transition: 0.3s;
}

.card button:hover{
    background-color: #ff1635;
}

.card button:active{
    transform: scale(0.9);
}

.combos .card{
    animation: mover 3s ease-in-out infinite, brilhar 3s ease-in-out infinite;
}

@keyframes mover{
    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes brilhar{
    0%{
        filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0));
    }

    50%{
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6));
    }

    100%{
        filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0));
    }
}

.card-destaque{
    background: linear-gradient(to bottom, #fffaf3, #ffe5d9);
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 77, 109, 0.5);
}

.card-destaque p{
    font-family: var(--texto-padrão);
    align-self: flex-end;
    margin: 0px;
}

.card-destaque .destaque-preco{
    font-size: 1.25rem;
}

.card-destaque button{
    padding: 12px 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card-destaque button:hover{
    transform: scale(1.05);
}

.card-destaque button:active{
    transform: scale(0.85);
}

.card-destaque img{
    transition: 0.3s;
}

.card-destaque:hover img{
    transform: scale(1.1);
}